<table class="courses-list card card-strong">
  <tr class="course-summary" *ngFor="let course of (courses$ | async)">
    <td>
      <img class="lesson-logo"
        src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" alt="">
    </td>
    <td class="description">
      {{course.description}}
    </td>
    <td>
      <button [routerLink]="course.url">View</button>
    </td>
  </tr>
</table>
