<form autocomplete="off" novalidate class="login-form"
  [formGroup]="form">

  <fieldset>
    <legend>Login</legend>
    <div class="form-field">
        <label for="">Email:</label>
        <input name="email" formControlName="email">
    </div>
    <div class="form-field">
      <label for="">Password:</label>
      <input name="password" formControlName="password" type="password">
  </div>
  </fieldset>
  <button (click)="login()">Login</button>
</form>
