<header class="l-header v-center-parent">
  <img class="v-center" routerLink="home"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png" alt="">
  <ul class="top-menu disable-link-styles">
    <li>
      <a routerLink="home"
        routerLinkActivate="menu-active"
      >Home</a>
    </li>
    <li>
      <a routerLink="courses"
        routerLinkActive="menu-active" >Courses</a>
    </li>
    <li>
      <a routerLinkActive="menu-active"
        routerLink="login">Login</a>
    </li>
    <li>
      <a routerLinkActive="menu-active"
        routerLink="register">Register</a>
    </li>
    <li>
      <a href="">Logout</a>
    </li>
  </ul>

</header>