
<app-top-menu></app-top-menu>
<main class="l-main l-sample-app">
  <div>
    <div class="main-container">
        <div class="list">
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</main>



