
<div class="lessons-list-container v-h-center-block-parent">

  <div class="nav-bar">
      <button >Previous Page</button>
      <button >Next Page</button>
  </div>

  <app-lessons-list></app-lessons-list>

  <div class="tools-bar">
      <button >
          New Lesson
      </button>
  </div>

</div>