<table class="table lessons-list card card-strong">
  <tbody>
    <tr *ngFor="let lesson of lessons">
      <td class="lesson-title"> {{lesson.description}} </td>
      <td class=duration>
        <i class="md-icon duration-icon">acces_time</i>
        <span>{{lesson.duration}}</span>
      </td>
    </tr>
  </tbody>
</table>
