<h2>All Lessons</h2>

<h4>Total Lessons: {{lessons?.length}}</h4>

<input type="search-bar" placeholder="Search" (keyup)="search(input.value)" #input>

<div class="lessons-lst-container v-h-center-block-parent">
  <app-lessons-list [lessons]="filtered"></app-lessons-list>
</div>