<form autocomplete="off"
    novalidate class="login-form" [formGroup]="form"    
>
  <fieldset>
    <legend>Register</legend>

    <div class="form-field">
      <label>email:</label>
      <input type="email" formControlName="email">
    </div>

    <div class="form-field">
        <label>Password:</label>
        <input type="password" formControlName="password">
      </div>

      <div class="form-field">
          <label>Confirm Password:</label>
          <input type="password" formControlName="confirm">
        </div>
  </fieldset>

  <button (click)="signUp()" [disabled]="!isPasswordMatch()">Create User</button>
</form>